<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhang.springcase.quartz.dao.UserMapper">
    <select id="findAllUsers" resultType="com.zhang.springcase.quartz.entity.UserEntity">
        SELECT
        user_id userId,
        user_name userName,
        user_password password,
        user_email email,
        user_phone phone
        FROM user_info
    </select>
</mapper>